.content {
    display:flex;
    flex-direction: column;
    align-items:center; 
    margin: 40px;
  }

.example-spacer {
    flex: 1 1 auto;
  }

  .example-right-align {
    text-align: right;
  }
  
  span + span {
    margin-left: 10px;
}