<mat-toolbar color="primary">
    <span>Login as Admin</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
        <mat-icon routerLink="">home</mat-icon>
    </button>
</mat-toolbar>
<form class="content" [formGroup]="registerForm">
<mat-form-field appearance="fill" [style.width.px]=327>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" [(ngModel)]="loginInfo.username">
</mat-form-field>
<mat-form-field appearance="fill" [style.width.px]=327>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="loginInfo.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <span></span>
    <span></span>
    <button mat-raised-button color="warn" routerLink="">Cancel</button>
</div>

